# Python cache
__pycache__/
*.pyc

# Virtual environments
.env/
.venv/
venv/
ENV/
env/

# Jupyter notebooks checkpoints
.ipynb_checkpoints

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/
